In [1]:
import pandas as pd
import requests as r
from bs4 import BeautifulSoup

fighters = pd.read_csv('fighter_sot.csv', encoding='iso-8859-1', low_memory=False)

In [2]:
not_missing = fighters['type'] != 'm'
not_found = fighters['fighter_name'].isnull()

In [3]:
only_errors = fighters[not_found & not_missing]

In [4]:
only_errors

       fighter_name      id type
64              NaN      65  NaN
206             NaN     209  NaN
260             NaN     263  NaN
267             NaN     270  NaN
269             NaN     272  NaN
310             NaN     315  NaN
313             NaN     318  NaN
387             NaN     396  NaN
452             NaN     461  NaN
1156            NaN    1178  NaN
1232            NaN    1255  NaN
1302            NaN    1326  NaN
1312            NaN    1336  NaN
1548            NaN    1575  NaN
1555            NaN    1582  NaN
1696            NaN    1726  NaN
1796            NaN    1826  NaN
2190            NaN    2231  NaN
2204            NaN    2245  NaN
2221            NaN    2262  NaN
2235            NaN    2276  NaN
2285            NaN    2326  NaN
2388            NaN    2431  NaN
2469            NaN    2512  NaN
2792            NaN    2839  NaN
2815            NaN    2863  NaN
2838            NaN    2886  NaN
3569            NaN    3629  NaN
4101            NaN    4173  NaN
4466            NaN    4541  NaN
...             ...     ...  ...
200178          NaN  229709    e
200180          NaN  229711    e
200182          NaN  229713    e
200184          NaN  229715    e
200186          NaN  229717    e
200200          NaN  229731    e
200306          NaN  229837    e
200308          NaN  229839    e
200310          NaN  229841    e
200314          NaN  229845    e
200326          NaN  229857    e
200402          NaN  229933    e
200568          NaN  230099    e
200570          NaN  230101    e
200572          NaN  230103    e
200574          NaN  230105    e
200576          NaN  230107    e
200578          NaN  230109    e
200616          NaN  230147    e
200618          NaN  230149    e
201090          NaN  230621    e
201092          NaN  230623    e
201094          NaN  230625    e
201110          NaN  230641    e
201150          NaN  230681    e
201294          NaN  230825    e
201296          NaN  230827    e
201298          NaN  230829    e
201300          NaN  230831    e
201302          NaN  230833    e

[1294 rows x 3 columns]

In [ ]:
deduplicated

In [ ]:
def parse_fighter_page(page_soup):
    fighter_info = {'figher_name':'no_fighter', 'type':'m'}
    matches = None
    try:
        #get fighter name
        # set fighter info
    except:
        pass
    try:
        # get matches with strategy 1
        # matches = blah
    except:
        pass
    try:
        # get matches with strategy 2
        # matches = blah2
    except: # if wrong strategy error thrown
        pass
    return fighter_info, matchesc
    


def verify(row):
    name = row['fighter_name']
    fighter_id = row['id']
    row_type = row['type']
    #fighter_page = soup(lookup fighter id)
    # fighter_info, matches = parser(fighter_page)
    # row['fighter_name'] = fighter_info['fighter_name']
    # row['type'] = fighter_info['type']
    # add matches to match df
    return row
    
only_errors = only_errors.apply(verify, axis=1)